.bookmark__title {
    margin-bottom: 10px;
}

.bookmark__input {
    font: inherit;
    padding: 5px;
    outline: 1px solid black;
    margin-bottom: 20px;
}

.add__button {
    margin-left: 20px;
    padding: 7px;
    color: white;
    background-color: orange;
}

.bookmark__list {
    list-style: none;
}


.bookmark__item {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.delete__button {
    padding: 7px;
    color: white;
    background-color: orange;
}