.feedback__form {
    width: 480px;
}

.feedback__form>label {
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.feedback__form input,
.feedback__form textarea {
    font: inherit;
    padding: 8px;
    outline: 1px solid black;

}

.feedback__form textarea {
    resize: none;
}

.feedback__form button {
    padding: 10px;
    border: 1px solid black;
}