<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <a href="../index.html" class="home__link">Home</a>
      <section class="form__section">
        <h1 class="title">FORM</h1>

        <form class="user__form">
          <label>
            <b> LOGIN </b>
            <input type="text" name="login" placeholder="Enter your login" />
          </label>
          <label>
            <b> PASSWORD </b>
            <input
              type="text"
              name="password"
              placeholder="Enter your password"
            />
          </label>

          <button type="submit" id="login-btn">LOG IN</button>
          <button type="submit" id="submit-btn">SUBMIT</button>
        </form>
      </section>
    </div>

    <script src="../js/task-3.js" type="module"></script>
  </body>
</html>
