<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container">
      <a href="../index.html" class="home__link">Home</a>
      <section class="form__section">
        <h1 class="form__title">Feedback form</h1>
        <form class="feedback__form">
          <label>
            <b>NAME</b>
            <input type="text" name="name" placeholder="Enter your name" />
          </label>
          <label>
            <b>MESSAGE</b>
            <textarea
              name="message"
              rows="6"
              placeholder="Enter the message"
              class="message"
            ></textarea>
          </label>
          <button type="submit">LEAVE YOUR MESSAGE</button>
        </form>
      </section>
    </div>
    <script src="../js/task-2.js" type="module"></script>
  </body>
</html>
